<input matInput>

<table class="rates-table" mat-table [dataSource]="ratesDataSource">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th class="rates-table-header" mat-header-cell *matHeaderCellDef>{{columnNamesMap[column]}}</th>
    <td class="rates-table-row-cell" mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>

  <tr class="rates-table-row-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="rates-table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button class="refresh-button" mat-fab color="primary" (click)="refreshRates$.next()">
  <mat-icon>refresh</mat-icon>
</button>
