:host {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 2px;

  .container {
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    overflow: auto;

    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }

    .rates-table {
      .rates-table-header {
        background-color: lavender;
      }

      .rates-table-row {
        &:hover {
          background-color: lavender;
        }
      }

      .rates-table-cell {
        justify-content: center;

        &:first-of-type {
          justify-content: start;
        }
      }
    }
  }

  .exchange-input {
    min-width: 50%;
  }

  .refresh-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}

